*{
    box-sizing: border-box;
  }
  html,body{
    scroll-behavior: smooth;
}
  body{
    margin: 0;
    font-family: IBM Plex Sans;
    font-weight: 400;
  }
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  a{
    text-decoration: none;
  }
  img{
    max-width: 100%;
  }

  p{
    margin: 0;
    padding: 0;
  }
  .container{
    /* width: 1140px; */
    margin: 0 auto;
  }

  .wiggle {
    animation-name: wiggle;
    -webkit-animation-name: wiggle;
    animation-duration: 2.5s;
    -webkit-animation-duration: 2.5s;
    -webkit-animation-iteration-count: infinite;
}
  @keyframes wiggle {
    0%,
    100% {
        transform: rotate(-4deg);
    }
    50% {
        transform: rotate(4deg);
    }
}
@-webkit-keyframes wiggle {
    0%,
    100% {
        -webkit-transform: rotate(-4deg);
    }
    50% {
        -webkit-transform: rotate(4deg);
    }
}


.slideLeft {
  animation-name: slideLeft;
  -webkit-animation-name: slideLeft;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease;
}
.slideLeft,
.slideRight {
  animation-timing-function: ease;
}
@keyframes slideLeft {
  0% {
      transform: translateX(150%);
      opacity: 0;
  }
  100% {
      transform: translateX(0);
      opacity: 1;
  }
}
@-webkit-keyframes slideLeft {
  0% {
      -webkit-transform: translateX(150%);
      opacity: 0;
  }
  100% {
      -webkit-transform: translateX(0);
      opacity: 1;
  }
}
.slideRight {
  animation-name: slideRight;
  -webkit-animation-name: slideRight;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease;
}
@keyframes slideRight {
  0% {
      transform: translateX(-150%);
      opacity: 0;
  }
  100% {
      transform: translateX(0);
      opacity: 1;
  }
}
@-webkit-keyframes slideRight {
  0% {
      -webkit-transform: translateX(-150%);
      opacity: 0;
  }
  100% {
      -webkit-transform: translateX(0);
      opacity: 1;
  }
}


.zoomer {
  animation-name: zoomer;
  -webkit-animation-name: zoomer;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: cubic-bezier(0.5, 0.2, 0.3, 1);
  animation-iteration-count: 1;
}
.zoomer,
.zoomerOut {
  -webkit-animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.5, 0.2, 0.3, 1);
  animation-duration: 1s;
}
@-webkit-keyframes zoomer {
  0% {
      -webkit-transform: scale(0.3);
  }
  100% {
      -webkit-transform: scale(1);
  }
}
@keyframes zoomer {
  0% {
      transform: scale(0.3);
  }
  100% {
      transform: scale(1);
  }
}



  
  @media(max-width:1140px){
    .container{
      width: 100%;
    }
  }

  .header{
      background: url("../img/bck.png") no-repeat;
      background-size: cover;
      height: 100vh;
  }

  .header .cont{}

  .header .cont .menu{
      display: flex;
      justify-content: flex-end;
  }

  .header .cont .menu ul{
      display: flex;
      align-items: center;
  }

  .header .cont .menu ul li{
      margin: 33px 30px;
  }

  .header .cont .menu ul li a{
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0.16em; 
    color: #FFFFFF;
    padding: 10px;
  }

  .header .cont .menu ul li a:hover{
      color: cornflowerblue;
      padding: 10px auto;
      border-bottom: 2px solid cornflowerblue;
      border-top: 2px solid cornflowerblue;
  }





  .header .cont .header-main{
      text-align: center;
  }

  .header .cont .header-main .avatar{
      display: flex;
      justify-content: center;
      margin-top: 58px;
  }

  .header .cont .header-main .avatar{}

  .header .cont .header-main .avatar img{}


  .header .cont .header-main h1{
    margin-top: 15px;
    font-weight: 600;
    font-size: 66px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
  }

  .header .cont .header-main p{
    margin-top: -40px;
    font-style: italic;
    font-weight: 100;
    font-size: 24px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
  }

  .header .cont .header-main .buton{
    margin-top: 50px;
  }

  .header .cont .header-main .buton a{
    display: inline;
    font-weight: 300;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.16em;
    color: #FFFFFF;
    padding: 16px 47px;
    border: 1px dotted #FFFFFF;
    border-radius: 2px;
  }

  .header .cont .header-main .buton a:hover{
      background: cornflowerblue;
      border: none;
  }






  .portfolyo{}

  .portfolyo .cont{
    margin: 100px auto;

  }

  .portfolyo .cont h2{
    text-align: center;
    font-size: 30px;
    font-weight: 500;
  }

  .portfolyo .cont .desc{
    text-align: center;
  }

  .portfolyo .cont .desc .cards{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .portfolyo .cont .desc .cards .card{
    flex: 0 0 50%;
    padding: 25px 15px;
    border: 1px solid #241f2d00;
    border-radius: 2px;
  }
  .portfolyo .cont .desc .cards .card:hover{
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.1)
  }

  .portfolyo .cont .desc .cards .card .img{
    flex:0 0 50%;
    max-width: 100%;
    width: 100%;
  }

  .portfolyo .cont .desc .cards .card .img img{
    display: block;
    width: 100%;
  }

  .portfolyo .cont .desc .cards .card .desc h2{
    margin-top: 33px;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.15em;
    color: #241F2D;
  }

  .portfolyo .cont .desc .cards .card .desc p{
    margin-top: 20px;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #241F2D;
  }

  .portfolyo .cont .desc .cards .card p a{
    margin-top: 30px;
    display: inline-block;
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #241F2D;
    padding: 14px 50px;
    border: 1px dotted #241f2d77;
    border-radius: 2px;
  }

  .portfolyo .cont .desc .cards .card p a:hover{
    color: #fff;
    padding: 14px 50px;
    border: none;
    background: #333B46;
  }




  .hakkimda{
  display: flex;
  align-items: center;
  background: #eeedea20;
  }

  .hakkimda .cont{
    margin: 100px auto;
  }


  .hakkimda .cont h2{
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    color: #333B46;
    }

  .hakkimda .cont .desc{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .hakkimda .cont .desc .avatar{
    padding-top: 50px;
  }

  .hakkimda .cont .desc .avatar img{
    height: 150px;
  }

  .hakkimda .cont .desc h3{
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    color: #333B46;
    letter-spacing: 0.15em;
  }

  .hakkimda .cont .desc h4{
    margin-top: -20px!important;
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    opacity: 0.5;
  }

  .hakkimda .cont .desc p{
    padding-top: 50px;
    width: 56%;
    font-weight: 400;
    font-size: 16px;
    line-height: 27.2px;
    text-align: left;
    color: #241f2d;
  }

  .hakkimda .cont .butonlar{
    margin: 50px auto 100px auto;
    display: flex;
    justify-content: center;
  }

  .hakkimda .cont .butonlar .buton a{
    margin: auto 30px;
    display: block;
    padding: 16px 61px;
    border: 1px dotted #241f2d;
    border-radius: 2px;
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.16em;
    color: #241f2d;
  }

  .hakkimda .cont .butonlar .buton a:hover{
      background: #333B46;
      color: #FFFFFF;
      border: 1px dotted #241f2d00;
    }


    .iletisim{
      display: flex;
      align-items: center;
    }
    .iletisim .cont{
      margin: 100px auto;
    }
    .iletisim .cont h2{
      text-align: center;
      font-size: 30px;
      font-weight: 500;
      color: #333B46;
    }

    .iletisim .cont .desc{
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: left;
    }

    .iletisim .cont .desc p{
    display: inline;
    width: 60%;
    font-weight: normal;
    font-size: 16px;
    line-height: 170%;
    letter-spacing: -0.02em;
    color: #241f2d;
    margin-bottom: 50px;
    }

    .iletisim .cont .desc input[type=text], input[type=tel],textarea{
      padding-bottom: 10px;
      width: 350px;
      border: none;
      border-bottom: 1px solid #241f2d25;
      text-align: left;
      text-indent: 10px;
      margin: 30px auto;
      font-size: 14px;
      font-weight: 400;
      color: #333B46;
    }

    .iletisim .cont .desc input::placeholder, textarea::placeholder{
      color: #333B46;
    }

    .iletisim .cont .desc textarea{
      width: 350px;
      min-height: 120px;
      border: 1px solid #241f2d25;
      padding: 5px;
      background-position: bottom right;
      background-repeat: no-repeat;
      resize: vertical;
    }

    .iletisim .cont .desc .buton{
      margin-top: 50px;
    }

    .iletisim .cont .desc .buton a{
      margin: auto 30px;
      display: block;
      padding: 16px 61px;
      border: 1px dotted #241f2d;
      border-radius: 2px;
      font-style: italic;
      font-weight: 400;
      font-size: 14px;
      text-align: center;
      letter-spacing: 0.16em;
      color: #241f2d;
    }
  
    .iletisim .cont .desc .buton a:hover{
      background: #333B46;
        color: #FFFFFF;
        border: 1px dotted #241f2d00;
      }




  .footer{
    background: #333B46;
  }

  .footer .cont{
    margin: auto 100px;
    height: 116px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .footer .cont .title{}

  .footer .cont .title p{
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1px;
  color: #fff;

  }

  .footer .cont .social{
    display: flex;
  }

  .footer .cont .social i{
    color: #fff;
    margin: auto 20px;
  }

  .footer .cont .social i:hover{
    color: cornflowerblue;
  }

  .footer .cont .social i:active{
    color: darkorange;
  }





/************************************************************
*************************************************************
*************************************************************
******************                           ****************
******************          992 px           ****************
******************                           ****************
*************************************************************
*************************************************************
*************************************************************/




  @media(max-width:992px){
      .header .cont{
        flex-wrap: wrap;
      }
      

      .header .cont .menu{
        padding-top: 30px;
        display: flex;
        justify-content: center;
        text-align: center;
      }

      .header .cont .menu ul{
        flex-wrap: wrap;
      }

      .header .cont .menu ul li{
        width: 100%;
        margin: 15px auto;
      }

      .header .cont .menu ul li a{
        font-size: 18px;
        font-weight: 100;
      }


      .header .cont .header-main .avatar{
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

      .header .cont .header-main h1{
        margin-top: 15px;
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        letter-spacing: 0.1em;
        color: #FFFFFF;
      }

      .header .cont .header-main p{
        margin-top: -10px;
        font-style: italic;
        font-weight: 100;
        font-size: 18px;
        letter-spacing: 0.1em;
        color: #FFFFFF;
      }
    
      .header .cont .header-main .buton{
        margin-top: 30px;
      }

      .header .cont .header-main .buton p{
        display: inline-block;
        border: 1px dotted #ffffff77;
        font-weight: 600;
        font-size: 14px;
        text-align: center;
        letter-spacing: 0.16em;
        color: #FFFFFF;
        padding: 16px;
        border-radius: 2px;
        padding: 16px 47px;
      }



      .portfolyo{}


      .portfolyo .cont{
        margin: 50px auto;
      }



      .portfolyo .cont .cards{
        margin: 0px auto;
      }

      .portfolyo .cont .desc .cards .card{
        flex: 0 0 100%;
        width: 100%;
      }



      .portfolyo .cont .desc .cards .card .img{
        flex: 0 0 100%;
        max-width: 100%;
      }
    
      .portfolyo .cont .desc .cards .card .img img{
        width: 100%;
      }

      .portfolyo .cont .desc .cards .card .desc h2{
        margin-top: 10px;
        font-weight: 600;
        font-size: 18px;
        text-align: center;
        letter-spacing: 0em;
        color: #241F2D;
      }
    
      .portfolyo .cont .desc .cards .card .desc p{
        margin-top: -10px;
        font-weight: normal;
        font-size: 16px;
        text-align: center;
        letter-spacing: -0.02em;
        color: #241F2D;
      }
    
      .portfolyo .cont .desc .cards .card p a{
        margin-top: 15px;
        display: inline-block;
        font-style: italic;
        font-weight: normal;
        font-size: 16px;
        text-align: center;
        letter-spacing: 0.02em;
        color: #241F2D;
        padding: 14px 50px;
        border: 1px dotted #241f2d77;
        border-radius: 2px;
      }

      .portfolyo .cont .desc .cards .card p a:hover{
        margin-top: 15px;
        display: inline-block;
        font-style: italic;
        font-weight: normal;
        font-size: 16px;
        text-align: center;
        letter-spacing: 0.02em;
        color: #fff;
        padding: 14px 50px;
        border: 1px dotted #241f2d00;
        border-radius: 2px;
      }
      
      .hakkimda .cont{
        margin: 50px auto;
      }

      .hakkimda .cont .desc{
        flex-wrap: wrap;
      }

      .hakkimda .cont .desc p{
        width: 85%;
      }


      .hakkimda .cont .butonlar{
        flex-wrap: wrap;
        margin: 50px auto;

      }

      .hakkimda .cont .butonlar .buton{
        margin: 15px auto;
      }

      .hakkimda .cont .butonlar .buton:last-of-type a{
        margin: auto 30px;
        display: block;
        padding: 16px 49px;
        border: 1px dotted #241f2d;
        border-radius: 2px;
        font-style: italic;
        font-weight: 400;
        font-size: 14px;
        text-align: center;
        letter-spacing: 0.16em;
        color: #241f2d;
      }





      .iletisim .cont{
        margin: 50px auto;
      }

      .iletisim .cont .desc p{
        width: 85%;
      }

      .iletisim .cont .desc .buton{
        margin-top: 30px;
      }




      .footer .cont{
        flex-wrap: wrap;
        justify-content: center;
      }

      .footer .cont .title{
        padding-top: 20px;
      }

      .footer .cont .title p{
        text-align: center;
        line-height: 150%;
      }

      .footer .cont .social{
        margin-bottom: 20px;
      }



      
  }




@media(max-width:742px){
  
    .hakkimda .cont .desc h4{
      width: 50vw;
      text-align: center;
  }
}
